body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  font-size: 20px;
}

span{
  font-size: 20px;
}

.box-explicacao{
  width: 50%;
  margin: 2rem auto;
  padding: 0.1rem;
  border-radius: 0.5rem;
  background-color: #01a2ff;
  color: #fff;
}

.second{
  background-color: #1df600;
}

.box-info{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  margin: auto;
}